/*reset - start*/
* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box; */
}
html {
	width: 100%;
	color: #242c35;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
body {
	position: relative;
	overflow-scrolling: touch; 
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
}
p, button, select, input[type=text] {
	margin: 0;
	padding: 0;
}
body,
input,
textarea,
button,
select,
label,
a {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}
a,
a:link,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	 outline: none;
	 resize: none;
}
img {
	border: none;
}
header,
nav,
section,
article,
aside,
figure,
figcaption,
footer{
	display: block;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
em,
i,
cite,
address {
	font-style: normal;
}
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
/*reset - end*/

/*public - start*/
.container {
  width: 1000px;
  margin: 0 auto;
}

.pull-left,
.list-inline li {
	float: left;
}
.pull-right {
	float: right;
}
.clear {
	clear: both;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.img-auto {
	width: 100%;
	height: 100%;
}
/*public - end*/

.head-box {
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  padding: 25px 0;
}

.head-descs {
  position: relative;
  height: 70px;
  margin-left: 20px;
  padding-left: 20px;
}

.head-descs::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 70px;
  background: linear-gradient(to bottom, #d4d4d4, #818181 ,#d4d4d4);
  background: -webkit-linear-gradient(to bottom, #d4d4d4, #818181 ,#d4d4d4);
  background: -o-linear-gradient(to bottom, #d4d4d4, #818181 ,#d4d4d4);
  background: -moz-linear-gradient(to bottom, #d4d4d4, #818181 ,#d4d4d4);
  background: -ms-linear-gradient(to bottom, #d4d4d4, #818181 ,#d4d4d4);
}

.head-descs p {
  font-size: 19px;
  color: #414141;
  line-height: 35px;
}

.head-descs p img {
  vertical-align: middle;
}

.navbar-box {
  height: 60px;
  background-color: #b10810;
}

.navbar-box ul > li {
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  background: url('../images/navbar_icon.png') no-repeat right center;
}

.navbar-box ul > li a {
  color: white;
}

.navbar-box ul > li:last-of-type {
  background: none;
}

.navbar-box ul > li:hover {
  background-color: #c71720;
}

.banner {
  position: relative;
  width: 100%;
  height: 560px;
  text-align: center;
  overflow: hidden;
}

.banner img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.subject-intro {
  margin-top: 20px;
}

.subject-txts {
  width: 600px;
}

.subject-txts h4 {
  text-align: center;
  line-height: 60px;
  font-family: 'SimHei';
  font-size: 35px;
  font-weight: bold;
  color: #db2347;
}

.subject-txts p {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  text-align: justify;
}

.subject-from {
  width: 355px;
}

.subject-from h4 {
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-family: 'SimSun';
  background-color: #db2347;
  font-size: 24px;
  color: white;
}

.from-group {
  padding: 10px;
  border: #db2347 solid 1px;
}

.from-group .input-group {
  margin-bottom: 10px;
}

.from-group .input-group label {
  width: 85px;
  font-family: 'SimSun';
  font-size: 18px;
  color: #000;
  line-height: 30px;
}

.from-group .input-group input,
.from-group .input-group select {
  width: 218px;
  height: 30px;
  padding-left: 10px;
  border: none;
  background-color: #fec1c0;
  box-shadow: 1px 2px 3px rgba(0,0,0,.4) inset;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4) inset; 
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4) inset; 
  -o-box-shadow: 1px 2px 3px rgba(0,0,0,.4) inset; 
  -ms-box-shadow: 1px 2px 3px rgba(0,0,0,.4) inset; 
}

.from-group .input-group select {
  width: 228px;
}

.from-group .from-btn {
  text-align: center;
}

.column-title {
  position: relative;
  width: 100%;
  height: 115px;
  background: url('../images/column_bk.png') no-repeat left top;
}

.column-one {
  width: 100%;
  margin-top: 30px;
}

.column-title .click-btn {
  position: absolute;
  top: -6px;
  right: -5px;
  display: table;
  width: 66px;
  height: 66px;
  background: url('../images/btn_bk.png') no-repeat center center;
  text-align: center;
}

.column-title .title {
  position: absolute;
  top: 52px;
  left: 135px;
}

.click-btn span {
  display: table-cell;
  vertical-align: middle;
  line-height: 22px;
  font-size: 15px;
  color: white;
}

.click-btn span:hover {
  text-decoration: underline;
}

.column-one .one-content {
  margin-top: 40px;
}

.one-content .btn-group {
  width: 712px;
  margin: 0 auto;
}

.one-content .btn-group button {
  width: 152px;
  height: 45px;
  margin-right: 30px;
  border-radius: 10px;
  border: none;
  background-color: #db2347;
  color: white;
  font-size: 18px;
}

.one-content .btn-group button:last-of-type,
.one-intro ol > li:last-of-type {
  margin-right: 0;
}

.one-content .one-intro {
  width: 720px;
  height: 180px;
  margin: 25px auto 0;
  background: url('../images/column01_bk.png') no-repeat left top;
}

.one-intro ol > li {
  width: 180px;
  height: 180px;
}

.one-intro ol > li h6 {
  margin: 30px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  color: #db2347;
  text-align: center;
}

.one-intro ol > li p {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.column-two {
  margin-top: 50px;
}

.column-title .phone {
  position: absolute;
  top: 45px;
  right: 0; 
}

.two-content {
  margin-top: 30px;
  height: 222px;
  border: #cfcfcf solid 1px;
  background-color: #ffeeee;
}

.two-content ol > li {
  border-right: #cfcfcf solid 1px;
  height: 220px;
}

.two-content ol > li:nth-child(1) {
  width: 202px;
}

.two-content ol > li:nth-child(1) p,
.two-content ol > li:nth-child(5) p {
  height: 110px;
  text-align: center;
  line-height: 110px;
  font-size: 28px;
  color: #f14d4e;
  border-bottom: #cfcfcf solid 1px;
}

.two-content ol > li:nth-child(1) p:last-of-type,
.two-content ol > li:nth-child(5) p:last-of-type {
  border-bottom: none;
}

.two-content ol > li:nth-child(2) {
  display: table;
  width: 178px;
  text-align: center;
}

.two-content ol > li:nth-child(2) .list-two,
.two-content ol > li:nth-child(4) .list-two{
  display: table-cell;
  vertical-align: middle;
}

.list-two p {
  line-height: 40px;
}

.list-two p:nth-child(1) {
  font-size: 24px;
  color: #575757;
}

.list-two p:nth-child(2) {
  font-size: 34px;
  color: #f14d4e;
}

.two-content ol > li:nth-child(3) {
  display: table;
  width: 235px;
}

.two-content ol > li:nth-child(3) .list-three {
  display: table-cell;
  vertical-align: middle;
  width: 160px;
  height: 160px;
  padding-bottom: 40px;
  background: url('../images/two_bk.png') no-repeat center center;
}

.list-three p {
  text-align: center;
  font-size: 27px;
  color: white;
}

.two-content ol > li:nth-child(4) {
  display: table;
  width: 175px;
  text-align: center;
}

.two-content ol > li:nth-child(5) {
  width: 194px;
  border-right: none;
}

.two-content ol > li:nth-child(5) p {
  height: 74px;
  line-height: 74px;
}

.column-three {
  margin-top: 50px;
}

.three-content {
  margin-top: 30px;
}

.three-content ul > li {
  width: 290px;
  height: 436px;
  margin-right: 48px;
  border: #f48485 solid 1px;
  border-radius: 10px;
}

.three-content ul > li:last-of-type {
  margin-right: 0;
}

.three-content ul > li .list-img {
  height: 166px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.three-content ul > li .list-txts p {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  color: #f04b4f;
}

.three-content ul > li .list-txts p:nth-child(2) {
  margin-top: 0px;
  font-size: 22px;
}

.three-content ul > li .list-txts p:nth-child(2) em {
  font-size: 50px;
  font-weight: bold;
}

.three-content ul > li .hr {
  height: 1px;
  background: linear-gradient(to right, #fff, #b2b2b2, #fff);
}

.three-content ul > li .list-btn p {
  margin-top: 25px;
  text-align: center;
  font-size: 26px;
  color: #7f7f7f;
}

.three-content ul > li .list-btn a {
  display: block;
  width: 188px;
  height: 58px;
  margin: 15px auto 0;
  border-radius: 58px;
  text-align: center;
  line-height: 58px;
  font-size: 28px;
  color: white;
  background-color: #ffaf02;
}

.three-content ul > li .list-btn a:hover {
  background-color: #e59d00;
}

.three-bottom-box {
  margin-top: 40px;
  padding: 20px 55px 55px;
  background-color: #f14d4e;
}

.three-bottom-box h5 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.three-bottom-box .three-intro {
  width: 442px;
  height: 42px;
  margin: 20px auto 0;
  text-align: center;
  line-height: 42px;
  font-size: 26px;
  color: #f14d4e;
  border-radius: 42px;
  background-color: white;
}

.three-switch {
  margin-top: 30px;
}

.three-switch .tabs-group {
  width: 178px;
}

.tabs-group ol > li {
  display: table;
  width: 178px;
  height: 105px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(255, 2555, 255, .5);
  border: white solid 1px;
  cursor: pointer;
}

.tabs-group ol > li .txt-group {
  display: table-cell;
  vertical-align: middle;
}

.tabs-group ol > li:nth-child(1) .txt-group p:nth-child(2) {
  font-size: 34px;
  font-weight: bold;
  color: white;
}

.tabs-group ol > li .txt-group p {
  font-size: 34px;
  font-weight: bold;
  color: white;
}

.tabs-group ol > li .txt-group p:nth-child(2) {
  color: white;
  font-size: 20px;
}

.tabs-group ol > li.active {
  background-color: #ffaf02;
  border: #ffaf02 solid 1px;
}

.switch-group {
  width: 615px;
  height: 435px;
  margin-left: 35px;
  overflow: hidden;
}

.switch-group ul > li {
  display: none;
  width: 615px;
  height: 435px;
}

.switch-group ul > li.active {
  display: block;
}

.consult {
  margin-top: 40px;
}

.consult-guide {
  width: 185px;
  height: 120px;
}

.consult-order {
  width: 765px;
}

.consult-order ul > li {
  width: 20%;
  text-align: center;
}

.consult-order ul > li .order-img {
  width: 115px;
  height: 98px;
  margin: 0 auto;
  border: #ccc solid 1px;
}

.consult-order ul > li p {
  margin-top: 20px;
  text-align: center;
  font-family: 'SimSun';
  font-size: 20px;
  color: #333;
}

.navbar-bottom-box {
  margin-top: 40px;
}

.foot {
  height: 285px;
}

.foot .logo {
  width: 342px;
  margin-top: 50px;
}

.foot .foot-intro {
  width: 392px;
  margin-top: 30px;
}

.foot .foot-intro p {
  padding: 10px 0 10px 55px;
  font-size: 20px;
  color: #393939;
}

.foot .foot-intro p:nth-child(1) {
  padding-right: 112px;
  text-align: center;
  background: url('../images/foot_icon_01.png') no-repeat left center;
}

.foot .foot-intro p:nth-child(2) {
  background: url('../images/foot_icon_02.png') no-repeat left center;
}

.foot .foot-intro p:nth-child(3) {
  background: url('../images/foot_icon_03.png') no-repeat left center;
}

.foot .foot-map {
  width: 245px;
  margin-top: 25px;
}

.foot .foot-map .img {
  position: relative;
  width: 234px;
  border: #ccc solid 1px;
}

.foot .foot-map .img a {
  display: block;
  width: 185px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: white;
  border-radius: 40px;
  background-color: #bb141c;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.foot .foot-map .img a:hover {
  background-color: #cf252d;
}